alertmanager:
  env: "preview"
  nameOverride: "incentives-amcfg"
  slackConfig:
    channel: "feed--alerts-incentives-preview"
  secrets:
    region: eu-west-2
    name: "rdx-works-main-dev/eks/incentives/preview/alertmanager-integration-keys"
