alertmanager:
  env: "dev"
  nameOverride: "incentives-amcfg"
  slackConfig:
    channel: "feed--alerts-incentives-dev"
  secrets:
    region: eu-west-2
    name: "rdx-works-main-dev/eks/incentives/dev/alertmanager-integration-keys"
