image: 
  tag: {{ .StateValues.ci.tag }}

params:
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  REDIS_PASSWORD: ""
  WORKERS_API_BASE_URL: "http://worker:3000"

secrets:
  - external_secret_name: transaction-stream-postgres-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rdx-works-main-dev/eks/incentives/dev/postgres"
    aws_secret_key: "database-url"
    secret_key: "database-url"

ingress:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 256Mi

pm2_metrics:
  enabled: false
  port: 9209

metrics:
  enabled: true
  port: 9210
  alert_labels:
    cluster: rdx-works-main-dev
    env: dev

alerts:
  aws_infrastructure_enabled: true
  free_rds_ram_warning_threshold_in_bytes: "500000000"
  free_rds_ram_warning_threshold: "500 MB"
  free_rds_ram_critical_threshold_in_bytes: "250000000"
  free_rds_ram_critical_threshold: "250 MB"
