image: 
    tag: {{ .StateValues.ci.tag }}

params:
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  REDIS_PASSWORD: ""
  LOG_LEVEL: debug
  EVENT_WORKER_CONCURRENCY: 20
  TRANSACTION_WORKER_CONCURRENCY: 20
  GATEWAY_URL: "https://mainnet.radixdlt.com"
  TOKEN_PRICE_SERVICE_URL: "https://token-price-service.radixdlt.com/price/historicalPrice"

  
secrets:
  - external_secret_name: workers-postgres-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rdx-works-main-dev/eks/incentives/dev/postgres"
    aws_secret_key: "database-url"
    secret_key: "database-url"
  - external_secret_name: workers-token-price-service-key
    env_variable: "TOKEN_PRICE_SERVICE_API_KEY"
    aws_secret_name: "rdx-works-main/eks/incentives/dev/secrets"
    aws_secret_key: "token_price_service_key"
    secret_key: "token_price_service_key"

ingress:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 512Mi

pm2_metrics:
  enabled: false
  port: 9209

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - incentives-worker
          topologyKey: "kubernetes.io/hostname"
