image: 
    tag: {{ .StateValues.ci.tag }}

params:
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  REDIS_PASSWORD: ""
  LOG_LEVEL: debug
  EVENT_WORKER_CONCURRENCY: 20
  TRANSACTION_WORKER_CONCURRENCY: 20
  GATEWAY_URL: "https://mainnet.radixdlt.com"
  OTLP_BASE_URL: http://opentelemetry-collector.monitoring:4318

  
secrets:
  - external_secret_name: workers-postgres-url
    env_variable: "DATABASE_URL"
    aws_secret_name: "rdx-works-main-dev/eks/incentives/dev/postgres"
    aws_secret_key: "database-url"
    secret_key: "database-url"

ingress:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 70

resources:
  requests:
    cpu: 50m
    memory: 512Mi

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - incentives-worker
          topologyKey: "kubernetes.io/hostname"
