image: 
  tag: {{ .StateValues.ci.tag }}

enable_db_migrations: true

params:
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  REDIS_PASSWORD: ""
  PORT: 3000
  DATABASE_URL: "postgresql://postgres:secretString123@postgres-postgresql:5432/incentives"
  JWT_SECRET: FkaGHXoq32rYBcEHwAn2rkhawtUCe4sE
  APP_URL : "https://incentives-pr-{{ .StateValues.ci.prNumber }}.rdx-works-main.extratools.works"
  APPLICATION_NAME: "incentives-pr-{{ .StateValues.ci.prNumber }}"
  WORKERS_API_BASE_URL: "http://worker:3003"
  VAULT_BASE_URL: "https://vault.vault.svc.cluster.local:8200"
  VAULT_KEY_NAME: "incentives-xrd-distributer"

podAnnotations:
  vault.hashicorp.com/agent-inject: 'true'
  vault.hashicorp.com/agent-inject-token: 'true'
  vault.hashicorp.com/auth-type: 'aws'
  vault.hashicorp.com/auth-path: 'auth/aws'
  vault.hashicorp.com/auth-config-type: 'iam'
  vault.hashicorp.com/role: 'role-incentives-pr'
  vault.hashicorp.com/service: 'https://vault.vault.svc.cluster.local:8200'
  vault.hashicorp.com/tls-skip-verify: 'true'
  vault.hashicorp.com/agent-inject-secret-vault-token: "secret/data/incentives/pr/vault-token"
  vault.hashicorp.com/agent-inject-template-vault-token: |
    {{`{{- with secret "secret/data/incentives/pr/vault-token" -}}
    export VAULT_TOKEN="{{ .Data.data.token }}"
    {{- end -}}`}}


secrets:
  - external_secret_name: incentives-radix-charts-key
    env_variable: "RADIX_CHARTS_AUTHORIZATION_TOKEN"
    aws_secret_name: "rdx-works-main/eks/incentives/dev/secrets"
    aws_secret_key: "api_key"
    secret_key: "api_key"
  - external_secret_name: incentives-token-price-service-key
    env_variable: "TOKEN_PRICE_SERVICE_API_KEY"
    aws_secret_name: "rdx-works-main/eks/incentives/dev/secrets"
    aws_secret_key: "token_price_service_key"
    secret_key: "token_price_service_key"


ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-signin: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/start
    nginx.ingress.kubernetes.io/auth-url: https://oauth2-proxy.rdx-works-main.extratools.works/oauth2/auth
  hosts:
    - host: incentives-pr-{{ .StateValues.ci.prNumber }}.rdx-works-main.extratools.works
      paths:
        - path: /
          pathType: ImplementationSpecific

autoscaling:
  enabled: false

resources:
  requests:
    cpu: 50m
    memory: 128Mi

metrics:
  alert_labels:
    cluster: rdx-works-main-dev
    env: prs

serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: 'arn:aws:iam::308190735829:role/incentives-pr-role'
