image: 
    tag: {{ .StateValues.ci.tag }}

params:
  DATABASE_URL: "postgresql://postgres:secretString123@postgres-postgresql:5432/incentives"
  REDIS_HOST: "redis-master"
  REDIS_PORT: "6379"
  REDIS_PASSWORD: ""
  GATEWAY_URL: {{ .StateValues.ci.gateway_url }}
  ACCOUNT_LIMIT: "2000"

secrets:

ingress:
  enabled: false

autoscaling:
  enabled: false

resources:
  requests:
    cpu: 2
    memory: 4Gi
