alertmanager:
  enable_pagerduty_notifications: true
  env: "prod"
  nameOverride: "incentives-amcfg"
  slackConfig:
    channel: "feed--alerts-incentives-prod"
  secrets:
    region: eu-west-2
    name: "rtlj-prod/eks/incentives/prod/alertmanager-integration-keys"
